.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.close_button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.title {
  color: white;
}

.text_dateNaissance {
  color: white;
  font-size: 14px;
}

.text {
  color: white;
  font-size: 16px;
  margin-bottom: -10px;
}

.input {
  width: 100%;
  height: 40px;
  margin: 10px;
  background-color: black;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
}

.contentDate {
  display: flex;
  justify-content: center;
  gap: 23px;
  flex-wrap: wrap;
}

.dateInput {
  height: 40px;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  background-color: black;
  color: rgb(179, 177, 177);
  border: 1px solid #333;
}

.dateLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.register {
  background-color: rgb(94, 96, 98);
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.logo_signup {
  transform: rotate(180deg);
  margin-bottom: -10px;
  margin-top: -30px;
}

.completeDate {
  margin-top: -15px;
}
