.overlay {
  position: fixed;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.loginContent {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #000;
  border-radius: 20px;
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.input {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  background-color: #111;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #333;
}

.login {
  background-color: rgb(94, 96, 98);
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.btn_inscription {
  animation: none;
  color: #00acee;
  background: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  transform: rotate(180deg);
}

.btn_modal_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.btn_modal {
  color: white;
  background-color: transparent;
  border: none;
}
