body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  color: white;
}

input::placeholder {
  color: rgb(179, 177, 177);
}

select {
  color: rgb(179, 177, 177);
}

h6 {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

span {
  color: white;
  margin-left: 10px;
}
