.title {
  line-height: 1.15;
  font-size: 1.5rem;
  color: white;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  background-color: black;
  width: 30%;
  height: 100vh;
}

.center {
  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 50%;
  height: 100vh;
}

.right {
  background-color: black;
  width: 40%;
  height: 100vh;
}

.logo {
  transform: rotate(180deg);
  margin: 20px;
}

.leftUp {
  height: 50px;
  margin: 20px;
}

.btn_tweet {
  background-color: #00acee;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.tweet_content {
  margin-left: 20px;
  margin-bottom: 20px;
}

.tweet_input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  height: 40px;
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: #ccc;
  padding: 10px;
  font-size: 14px;
}

.tweet_down {
  display: flex;
  justify-content: flex-end;
}

.input_content {
  margin-top: 20px;
}
